img {
    max-width: 100%;
    height: auto;
}

#category-box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#category-element {
    border: black solid 1px;
    color: red;
    font-size: 50px;
}

/* Home Screen */

#home-screen-text {
    max-width: 400px;
    max-height: auto;
    margin: auto;
    padding: 0 1rem;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    color: #390164;
}

/* #blurb {

} */

/* #cat-double-container {
    border: dotted 5px red;
} */

#cat-photo {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    border: double 5px #cdf5db;
}

/* Recipe Page */

.double-container {
    display: flex;
    justify-content: center; 
}

.recipe-container {
    max-width: 400px;
    max-height: auto;
    padding: 1rem;
}

#picture-message {
    padding-bottom:5px ;
    margin-bottom: 5px;
    font-size: 20px;
    flex-grow: 2;
}

#recipe-text-box {
    overflow: auto;
    max-height: 200px;
}

#recipe-instructions {
    border:  #cdf5db 20px dotted;
    max-width: 400px;
    max-height: auto;
    padding: 1rem;
    margin: 0 auto;
    color: #390164;
    font-size: 20px;
}

#show-hide-button {
    margin-top: 1rem;
}

#video-announcement {
    padding: 0;
    border: 0;
    margin: .5px;
}

#ingredient-lists {
    display: flex;
    justify-content: center;
    border: #cdf5db 5px dotted;
    border-bottom: white 5px solid;
    max-width: 400px;
}

.ingredient-list-items {
    margin: 0;
    padding: 0;
    text-align: left;
    color: #390164;
}

#recipe-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
}
