.App {
  text-align: center;
  /* background-image: linear-gradient(to right, #d1ceed , white);
  background-image: linear-gradient(to right, #d1ceed , white); */
  background-image: linear-gradient(to bottom right, #d1ceed , white);
}

button {
  background-color: #73328d;
  color: white;
}

#picture-message {
  color: #96439d;
}
