body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#meta-background {
  height: 100vh;
  /* background-image: linear-gradient(to bottom right, #cdf5db, #8bd1d3, #c0aec4); */
  /* background-image: linear-gradient(to bottom, #cdf5db,  #8bd1d3, #c0aec4); */
  /* background-image: linear-gradient(to bottom, #c0aec4,  #8bd1d3, #c0aec4); */

}


